<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">42Lab</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Learning from Biohacking, it is still having high barrier for biology amateur to learn biotech from scratch. It inspired Dr. Data Ng to build an affordable and portable laboratory </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015 - 2016</h4>
                                    <h4 class="subheading">Prototype and HKU DreamCatcher 100K Fund</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The idea of 42Lab was materialized by building the prototype and 42Lab was one of the top 10 winning teams getting funded by HKU DreamCatcher 100K fund in 2016 </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Moving Forward</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">42Lab got the Grand Prize and First Class Prize of Challenge Cup</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>To
                                    <br>Be
                                    <br>Continued</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>