<!-- gettingstarted Section -->
    <section id="gettingstarted">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started with 42Lab</h2>
                    <h3 class="section-subheading text-muted">42Lab is a suitcase size laboratory which has performance equivalent to traditional biotech equipments like centrifuge, PCR machines and Transilluminator. More than that, with the modules design, the user can combine different biotech and even chemistry equipments in a box. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Laboratory in a box</h4>
                    <!-- <p class="text-muted">Test</p> -->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magnet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Modelus design with magnetic connector</h4>
                   <!-- <p class="text-muted">Test</p> -->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Compact and light weight</h4>
                    <!-- <p class="text-muted">Test</p> -->
                </div>
            </div>

                        <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-full fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Battery powered (optional)</h4>
                    <!-- <p class="text-muted">Test</p> -->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">ioT enabled</h4>
                   <!-- <p class="text-muted">Test</p> -->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile controlled</h4>
                    <!-- <p class="text-muted">Test</p> -->
                </div>
            </div>



        </div>
    </section>